.teacherList {
  padding: 10.42vw 0 3.9vw;
  height: 100dvh;
}

.teachers-table {
  width: 100%;
  height: 100%;
  display: grid;
  overflow-y: scroll;
  padding-right: 0.52vw;
  position: relative;
}

.teachers-table::-webkit-scrollbar {
  display: block;
  width: 1.19vw;
}

.teachers-table::-webkit-scrollbar-thumb {
  border-radius: 1.04vw;
  background: rgba(135, 135, 135, 0.5);
}

.teachers-table::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.04vw;
}

.teachers-table > thead,
.teachers-table > tbody {
  width: 100%;
}

.teachers-table > thead {
  position: sticky;
  top: 0;
  background: #000;
  padding-bottom: 0.677vw;
}

.teachers-table > tbody {
  display: grid;
  gap: 0.677vw;
}

.teachers-table > thead > tr,
.teachers-table > tbody > tr {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20vw;
  gap: 0.52vw;
}

.teachers-table > thead > tr > .table-header,
.teachers-table > tbody > tr > .tbody-data {
  width: 100%;
  padding: 0.52vw 1.67vw;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.625vw;
}

.teachers-table .table-header > table,
.teachers-table .tbody-data > table {
  width: 100%;
}

.teachers-table .table-header > table > thead,
.teachers-table .tbody-data > table > tbody {
  width: 100%;
}

.teachers-table .table-header > table > thead > tr,
.teachers-table .tbody-data > table > tbody > tr {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  gap: 0.52vw;
}

.teachers-table .table-header > table > tr > td,
.teachers-table .tbody-data > table > tr > td {
  width: 100%;
  text-align: left;
  font-size: 0.99vw;
  color: #fff;
  font-family: "SF Pro regular";
}

.studentsCount-link {
  color: #fff;
}

.teachers-table > thead > tr > .role {
  width: 100%;
  padding: 0.52vw;
  text-align: center;
  font-size: 0.99vw;
  color: #fff;
  font-family: "SF Pro regular";
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.625vw;
}

.teachers-table > tbody > tr > .action {
  width: 100%;
}

.teachers-table > tbody > tr > .action > table {
  width: 100%;
}

.teachers-table > tbody > tr > .action > table > tbody {
  width: 100%;
}

.teachers-table > tbody > tr > .action > table > tbody > tr {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.52vw;
}

.teachers-table > tbody > tr > .action td {
  width: 100%;
  height: 100%;
  display: flex;
}
.teachers-table > tbody > tr > .action td > a,
.teachers-table > tbody > tr > .action td > button {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 0.99vw;
  color: #fff;
  font-family: "SF Pro regular";
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.625vw;
}

.teachers-table > tbody > tr > .action td > button {
  color: #CD0000;
}