.teacherList {
  padding: 8vw 0 3.9vw;
  height: 100dvh;
  max-width: 100%;
  overflow-x: auto;
}

.teachers-table {
  width: 100%;
  height: 100%;
}

.teachers-table tbody::-webkit-scrollbar {
  display: block;
  width: 1.19vw;
}

.teachers-table tbody::-webkit-scrollbar-thumb {
  border-radius: 1.04vw;
  background: rgba(135, 135, 135, 0.5);
}

.teachers-table tbody::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.04vw;
}

.teachers-table tbody {
  padding-right: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 13px;
  position: relative;
  overflow-y: scroll;
}

.teachers-table tbody tr {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 277px;
  gap: 8px;
  position: relative;
  background: #000;
}

.teachers-table tbody tr:first-child {
  width: 100%;
  position: sticky;
  top: 0;
  background: #000;
  z-index: 2;
}

.teachers-table tbody tr td:first-child {
  padding: 10px 32px;
  width: 100%;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
}

.teachers-table tbody tr td:first-child span {
  font-size: 19px;
  color: #fff;
  font-family: "SF Pro regular";
}

.teachers-table tbody tr .action {
  width: 277px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  /* position: absolute; */
  /* right: 0; */
  /* top: 0; */
}

.teachers-table tbody tr .action-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  font-size: 19px;
  color: #fff;
  font-family: "SF Pro regular";
}

.teachers-table tbody tr .action button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  font-size: 19px;
  font-family: "SF Pro regular";
  border-radius: 12px;
}

.teachers-table tbody tr .action .edit {
  color: #fff;
}

.teachers-table tbody tr .action .delete {
  color: #CD0000;
}