.students-main {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

/* info start */

.students-main__info {
  width: 100%;
  margin-left: 10%;
}

.students-main__btn {
  margin-top: 46px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.students-main__btn .scroll-icon {
  animation: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scroll {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translatey(5px);
  }
}
/* info end */

/* image start */
.students-main__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.students-main__img .students-img {
  width: 100%;
}

.coin-img {
  width: 30px;
  height: 25px;
  position: absolute;
  animation-name: coin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  transform: translateY(100vh) rotateX(50deg) rotateY(50deg) rotateZ(50deg)
    scale(1.1);
}

.coin-1 {
  bottom: 20%;
  left: 4%;
  animation-delay: 1s;
}

.coin-2 {
  bottom: 40%;
  left: 6%;
  animation-delay: 3.5s;
}

.coin-3 {
  bottom: 55%;
  left: 11%;
  animation-delay: 3s;
}

.coin-4 {
  bottom: 75%;
  left: 20%;
  animation-delay: 2s;
}

.coin-5 {
  bottom: 79%;
  left: 37%;
  animation-delay: 0s;
}

.coin-6 {
  bottom: 65%;
  left: 40%;
  animation-delay: 1s;
}

.coin-7 {
  bottom: 80%;
  right: 32%;
  animation-delay: 4s;
}

.coin-8 {
  bottom: 65%;
  right: 33%;
  animation-delay: 3s;
}

.coin-9 {
  bottom: 60%;
  right: 8%;
  animation-delay: 2s;
}

.coin-10 {
  bottom: 12%;
  right: 7%;
  animation-delay: 0s;
}

@keyframes coin {
  0% {
    transform: translateY(-50px) rotateX(-50deg) rotateY(-50deg) rotateZ(-50deg)
      scale(0.9);
  }
  100% {
    transform: translateY(100vh) rotateX(50deg) rotateY(50deg) rotateZ(50deg)
      scale(1.1);
  }
}
/* image end */
