.lds-roller {
	color: #fff; /* Цвет можно изменить здесь */
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
	box-sizing: border-box;
}
.lds-roller {
	display: inline-block;
	position: relative;
	width: 22.5px; /* Увеличение ширины на 50% */
	height: 22.5px; /* Увеличение высоты на 50% */
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 11.25px 11.25px; /* Центрирование по увеличенным размерам */
}
.lds-roller div:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 2.025px; /* Пропорциональное увеличение размеров */
	height: 2.025px;
	border-radius: 50%;
	background: currentColor;
	margin: -1.0125px 0 0 -1.0125px; /* Пропорциональное увеличение размеров */
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 17.6139px;
	left: 17.6139px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 19.044225px;
	left: 15.75px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 19.943325px;
	left: 13.579365px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 20.25px;
	left: 11.25px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 19.943325px;
	left: 8.920635px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 19.044225px;
	left: 6.75px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 17.6139px;
	left: 4.8860475px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 15.75px;
	left: 3.455775px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
