nav ul {
  display: flex;
  align-items: center;
  gap: 6px;
}

nav ul li a {
  padding: 10px 20px 10px 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-color);
}

nav ul li a.username {
  padding: 10px 20px;
}

nav ul li a span {
  font-family: "SF Pro regular";
  font-size: var(--small-fs);
  transition: all 0.2s ease;
  letter-spacing: 1px;
}
nav ul li a:hover {
  color: #fff;
  opacity: 1;
}
nav ul li a:hover path {
  stroke: #fff;
  opacity: 1;
  transition: all 0.2s ease;
}

nav ul li a.userImg {
  padding: 0;
}

nav ul li a.userImg img {
  width: 42px;
  height: 42px;
  border-radius: 30%;
  object-fit: cover;
  object-position: top;
}

nav ul li a.userImg span {
  padding: 10px 15px;
}
