.statistics {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7.29vw;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.6vw;
}

.statistics-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statistics-info .lider {
  margin-top: 1.04vw;
  margin-bottom: 1.04vw;
  padding-right: 2.39vw;
  display: flex;
  align-items: center;
  gap: 2.09vw;
  background: linear-gradient(
    105deg,
    transparent 0%,
    transparent 15%,
    #a89f9f40 15%,
    #a89f9f40 100%
  );
  border-radius: 0 1.04vw 1.04vw 0;
}

.statistics-info .lider img {
  width: 3.38vw;
}

.statistics-info .lider p {
  font-size: var(--bigger-fs);
  font-family: "SF Pro heavy italic";
}

.statistics-info .section-subtitle {
  font-size: 1.67vw;
  font-family: "SF Pro regular";
}

.statistics-data__container {
  width: 100%;
}

.statistics-data {
  padding: 1.88vw 2.6vw;
  width: 100%;
  border-radius: 1.88vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.56vw);
  align-self: flex-end;
}

.statistics-data .data-header {
  width: 100%;
  display: flex;
  gap: 0.42vw;
}

.statistics-data .data-header__content {
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 0.625vw;
  background: #a89f9f10;
  display: flex;
  align-items: center;
  gap: 1.14vw;
}

.statistics-data .data-header__content:first-child {
  background: linear-gradient(
    105deg,
    transparent 0%,
    transparent 10%,
    #a89f9f10 10%,
    #a89f9f10 100%
  );
}

.statistics-data .data-header__content:not(:first-child) {
  padding: 0 0.7vw;
}

.statistics-data .data-header__content img {
  width: 1.51vw;
}

.statistics-data .data-header__content select {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.937vw;
  font-family: "SF Pro bold";
}

.statistics-data .data-header__content p {
  color: #fff;
  font-size: 0.937vw;
  font-family: "SF Pro bold";
}

.statistics-data .data-container {
  margin-top: 2.34vw;
  width: 100%;
}

.statistics-data .data-container table {
  width: 100%;
  display: grid;
}

.statistics-data .data-container table thead,
.statistics-data .data-container table tbody {
  width: 100%;
}

.statistics-data .data-container table thead tr,
.statistics-data .data-container table tbody tr {
  padding: 0.52vw 2.6vw;
  width: 100%;
  border-radius: 0.7vw;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 6fr 3fr;
  gap: 0.52vw;
}

.statistics-data .data-container table tbody tr:nth-child(odd) {
  background: #a89f9f10;
}

.statistics-data .data-container table thead tr td,
.statistics-data .data-container table tbody tr td {
  width: 100%;
  font-size: 0.7vw;
  font-family: "SF Pro semibold";
  letter-spacing: 0.052vw;
}

.statistics-data .data-container table tbody tr td.lider {
  display: flex;
  align-items: center;
  position: relative;
}

.statistics-data .data-container table tbody tr td.lider img {
  width: 0.99vw;
  position: absolute;
  left: 0;
}

.statistics-data .data-container table tbody tr td.lider span {
  background: linear-gradient(
    105deg,
    transparent 0%,
    transparent 10%,
    #a89f9f10 10%,
    #a89f9f10 100%
  );
  border-radius: 0 0.625vw 0.625vw 0;
  padding: 0.31vw 1.3vw;
  width: 60%;
}

.statistics-data .data-footer {
  margin-top: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statistics-data .data-footer__time {
  display: flex;
  align-items: center;
  gap: 0.52vw;
}

.statistics-data .data-footer__time > p {
  font-size: 0.7vw;
  color: #fff;
  font-family: "SF Pro regular";
  letter-spacing: 0.104vw;
}

.statistics-data .data-footer__time button {
  border: none;
  background: none;
  width: 1.56vw;
  height: 1.56vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a89f9f10;
}

.statistics-data .data-footer__time button .icon {
  color: #fff;
  font-size: 0.937vw;
  transition: all 0.3s ease;
}

.statistics-data .data-footer__time button .icon:hover {
  transform: rotate(180deg);
}

.statistics-data .data-footer__links {
  display: flex;
  align-items: center;
  gap: 0.52vw;
}

.statistics-data .data-footer__links button {
  padding: 0.26vw 0.677vw;
  border: none;
  background: #a89f9f10;
  border-radius: 0.625vw;
  display: flex;
  align-items: center;
  gap: 0.31vw;
}

.statistics-data .data-footer__links button > .icon {
  color: #fff;
  font-size: 0.937vw;
}

.statistics-data .data-footer__links button > span {
  font-size: 0.83vw;
  color: #fff;
  letter-spacing: 0.104vw;
}

@media screen and (max-width: 768px) {
  .statistics {
    padding-top: 0;
    padding-bottom: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .statistics-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2.6vw;
  }

  .statistics-info {
    width: 100%;
    min-height: 100dvh;
    align-items: center;
    justify-content: center;
  }

  .statistics-info .lider {
    margin-top: 2.61vw;
    margin-bottom: 2.61vw;
    padding-right: 5.99vw;
    gap: 5.21vw;
    border-radius: 0 2.61vw 2.61vw 0;
  }

  .statistics-info .lider img {
    width: 8.46vw;
  }

  .statistics-info .section-title {
    text-align: center;
  }

  .statistics-info .section-subtitle {
    width: 80%;
    font-size: 4.17vw;
    font-family: "SF Pro regular";
    text-align: center;
  }

  .statistics-data__container {
    width: 100%;
    min-height: 100dvh;
  }

  .statistics-data {
    padding: 2.61vw 2.61vw;
    border-radius: 3.25vw;
    align-self: center;
  }

  .statistics-data .data-header {
    gap: 1.04vw;
  }

  .statistics-data .data-header__content {
    border-radius: 1.3vw;
    gap: 2.61vw;
  }

  .statistics-data .data-header__content:not(:first-child) {
    padding: 0 1.82vw;
  }

  .statistics-data .data-header__content img {
    width: 3.77vw;
  }

  .statistics-data .data-header__content select {
    font-size: 2.34vw;
  }

  .statistics-data .data-header__content p {
    font-size: 2.34vw;
  }

  .statistics-data .data-container {
    margin-top: 3.91vw;
  }

  .statistics-data .data-container table thead tr,
  .statistics-data .data-container table tbody tr {
    padding: 1.3vw 3.91vw;
    border-radius: 1.82vw;
    grid-template-columns: 1fr 2fr 6fr 3fr;
    gap: 1.3vw;
  }

  .statistics-data .data-container table thead tr td,
  .statistics-data .data-container table tbody tr td {
    font-size: 1.82vw;
    letter-spacing: 0.13vw;
  }

  .statistics-data .data-container table tbody tr td.lider img {
    width: 2.47vw;
  }

  .statistics-data .data-container table tbody tr td.lider span {
    border-radius: 0 1.56vw 1.56vw 0;
    padding: 0.78vw 3.25vw;
    width: 60%;
  }

  .statistics-data .data-footer {
    margin-top: 3.12vw;
  }

  .statistics-data .data-footer__time {
    gap: 1.3vw;
  }

  .statistics-data .data-footer__time > p {
    font-size: 1.82vw;
    letter-spacing: 0.26vw;
  }

  .statistics-data .data-footer__time button {
    width: 3.91vw;
    height: 3.91vw;
  }

  .statistics-data .data-footer__time button .icon {
    font-size: 2.34vw;
  }

  .statistics-data .data-footer__links {
    gap: 1.3vw;
  }

  .statistics-data .data-footer__links button {
    padding: 0.65vw 1.69vw;
    border-radius: 1.56vw;
    gap: 0.78vw;
  }

  .statistics-data .data-footer__links button > .icon {
    font-size: 2.34vw;
  }

  .statistics-data .data-footer__links button > span {
    font-size: 2.08vw;
    letter-spacing: 0.26vw;
  }
}

@media screen and (max-width: 576px) {
  .statistics-data__container {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
