.App {
	width: 100%;
	min-height: 100dvh;
	background: #000;
	color: #fff;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.section-title {
	font-size: var(--biggest-fs);
	color: var(--text-color);
	font-family: 'SF Pro black';
}

.section-title span {
	color: var(--main-color);
}

.section-subtitle {
	font-size: var(--big-fs);
	color: var(--text-color);
	font-family: 'SF Pro medium';
}

.btn {
	padding: 1.04vw 3.38vw;
	text-align: center;
	border-radius: 1.56vw;
	font-size: var(--normal-fs);
	font-family: 'SF Pro semibold';
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.btn-primary {
	background: linear-gradient(#f0e081 0%, #cfad4f 100%);
	color: #000;
	border: 0.052vw solid var(--main-color);
}

.btn-primary:hover {
	background: none;
	color: var(--main-color);
}

.btn-secondary {
	background: none;
	color: var(--main-color);
	border: 0.052vw solid var(--main-color);
}

.btn-secondary:hover {
	background: var(--main-color);
	color: #000;
}
.disable_btn {
	background-color: gray !important;
	color: #eee !important;
	border-color: gray !important;
	cursor: not-allowed !important;
}
@media (max-width: 769px) {
	.btn_top {
		margin-top: 8px;
	}
}
