/* @import url(https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@100;200;300;400;500;600;700&display=swap); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Source Serif Pro", serif; */
}

:root {
  --text-color: #fff;
  --main-color: #e3ca5c;
  --primary-color: #878787;
  --secondary-color: #cd0000;
  /* --bg-color: ; */

  --biggest-fs: 96px;
  --bigger-fs: 60px;
  --big-fs: 50px;
  --normal-fs: 27px;
  --small-fs: 19px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}
