.login {
  min-height: 100dvh;
  padding-top: 200px;
  padding-bottom: 80px;
  position: relative;
}

.coin-bg {
  position: absolute;
  top: 0;
  right: 0;
  mix-blend-mode: screen;
  z-index: 2;
}

.login-header {
  width: 100%;
}

.login-header .section-subtitle {
  text-transform: lowercase;
}

.login-form {
  margin-top: 75px;
  width: 100%;
  padding: 50px 60px;
  border-radius: 42px;
  background: rgba(255, 255, 255, 0.1);
}

.login-form__title {
  font-size: var(--bigger-fs);
  color: var(--text-color);
  font-family: "SF Pro heavy";
}

.login-form__subtitle {
  margin-top: 10px;
  font-size: 25px;
  font-family: "SF Pro regular";
  color: var(--primary-color);
}

.login-form__container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.login-form__container > input {
  min-width: 379px;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #ffffff10;
  background: rgba(255, 255, 255, 0.1);
  font-size: 25px;
  color: var(--text-color);
  font-family: "SF Pro regular";
  transition: all 0.3s ease;
}

.login-form__container > input:focus {
  border: 1px solid #CFAD4F;
}

.login-form__container > p {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "SF Pro regular";
  color: var(--primary-color);
}

.login-form__container > p > a {
  color: var(--primary-color);
  text-decoration: underline;
  padding-bottom: 2px;
  transition: all 0.3s ease;
}
.login-form__container > p > a:hover {
  color: #fff;
  opacity: 0.8;
}
